
body{
    background: linear-gradient(to bottom left,rgb(252, 141, 252),rgb(117, 117, 255)) no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* Header */

#header{
    background-color: rgb(0, 1, 72);
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}
#header div:first-child{
    padding: 14px 0 0 14px;
}
#header div:first-child img{
    border-radius: 20px;
}
#header div:last-child{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

/* Order Details */

#OrderDetails{
    width: auto;
    height: auto;
    padding: 30px;
    margin: 30px;
    margin-bottom: 100px;
    border: 3px solid white;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
}
#card{
    background-color: white;
    width: auto;
    height: auto;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
#card img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 321px) {
    #header{
        grid-template-columns: 20% 80%;
    }
    #header div:last-child{
        font-size: 13px;
    }
    #header div:first-child{
        padding: 25px 0 0 25px;
    }
}

@media screen and (max-width: 500px) and (min-width: 321px){
    #OrderDetails{
        display: block;
    }
    #card{
        width: 90%;
        margin-bottom: 20px;
    }
    #header{
        grid-template-columns: 15% 85%;
    }
}


/* Footer */

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 1, 72);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#footer div:first-child{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}
#footer div:last-child{
    color: white;
    font-size: 25px;
    margin-top: 25px;
}
#footer div:last-child i{
    margin-left: 20px;
}