
body{
    background: linear-gradient(to bottom left,rgb(252, 141, 252),rgb(117, 117, 255)) no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* Header */

#header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 1, 72);
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}
#header div:first-child{
    padding: 14px 0 0 14px;
}
#header div:first-child img{
    border-radius: 20px;
}
#header div:last-child{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

/* Add & DashBorad buttons */

#Buttons{
    width: 95%;
    margin-top: 110px;
    margin-left: 38px;
    display: flex;
    justify-content: flex-end;
}
#Buttons button{
    font-size: 20px;
    background-color: rgb(50, 51, 88);
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

/* Mask */

#Mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.648);
    z-index: 1;
    display: none;
}

/* Add Button */

#Buttons button:first-child{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
#Buttons button:first-child:hover{
    box-shadow: 1px 1px 2px rgb(169, 169, 169), 0 0 5px rgb(169, 169, 169), 0 0 5px rgb(169, 169, 169);
}

/* Input Search Bar */

#Buttons input{
    background-image: url('/Images/Search.png');
    background-position: 3px 5px;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 250px;
    height: 40px;
    padding: 6px 0 6px 35px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    margin-left: 10px;
    color: rgb(90, 90, 90);
}

/* View DashBorad */

#Buttons button:last-child{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
#Buttons button:last-child:hover{
    box-shadow: 1px 1px 2px rgb(169, 169, 169), 0 0 5px rgb(169, 169, 169), 0 0 5px rgb(169, 169, 169);
}
#Buttons button:last-child a{
    text-decoration: none;
    color: white;
}

/* Table */

#table{
    width: 95%;
    margin-top: 25px;
    margin-bottom: 100px;
    overflow-x: auto;
}
#table table{
    width: 100%;
    border-collapse: collapse;
}
#table table thead tr{
    background-color: rgb(50, 51, 88);
    color: white;
}
#table table tbody tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}
#table table tbody tr:nth-child(even){
    background-color: rgb(222, 222, 222);
}
/* #table table thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
#table table thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
#table table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
#table table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
} */
#table table tr th,td{
    text-align: center;
    padding: 10px;
}
#table table tr td i:first-child{
    color: green;
}
#table table tr td i:last-child{
    color: red;
    margin-left: 10px;
}

/* Add button popup */

#BookTableForm, #EditTableForm{
    position: fixed;
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.25);
    opacity: 0;
    background-color: whitesmoke;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    transition: top 0s, opacity 500ms, transtion 20ms;
}

/* close form icon */

#BookTableForm span#closeAddPopup{
    font-size: 30px;
    position: absolute;
    top: -15px;
    right: -8px;
    color: rgb(56, 56, 56);
}

#EditTableForm span#closeEditPopup{
    font-size: 30px;
    position: absolute;
    top: -15px;
    right: -8px;
    color: rgb(56, 56, 56);
}

/* Form header */

#BookTableForm header{
    text-align: center;
    background-color: rgb(50, 51, 88);
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}

#EditTableForm header{
    text-align: center;
    background-color: rgb(50, 51, 88);
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}

/* Input box */

#form .input-box{
    width: 100%;
    margin-top: 20px;
}
#form .input-box input, .select{
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    color: gray;
    margin-top: 8px;
    border-radius: 6px;
}
#form .column{
    display: flex;
    column-gap: 15px;
}
.select select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: gray;
}

/* Form Buttons */

.column .input-box button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

/* Sumbit */

.column .input-box:first-child button{
    background-color: green;
    color: white;
    font-weight: 500;
    font-family: cursive;
    margin-left: 140px;
}
.column .input-box:first-child button:active{
    background-color: rgb(98, 196, 98);
}

/* Reset */

.column .input-box:last-child button{
    background-color: red;
    color: white;
    font-weight: 500;
    font-family: cursive;
}
.column .input-box:last-child button:active{
    background-color: rgb(255, 121, 121);
}


@media screen and (max-width: 500px) {
    #BookTableForm{
        font-size: 12px;
    }
    #EditTableForm{
        font-size: 12px;
    }
    #form .column {
        flex-wrap: wrap;
    }
    .column .input-box button{
        width: 100%;
    }
    .column .input-box:first-child button{
        margin-left: 0px;
    }
    #Buttons{
        display: block;
    }
    #Buttons input{
        width: 90%;
        margin: 20px 0 0 0;
    }
    #Buttons button:first-child{
        width: 90%;
        margin: 20px 0 0 0;
    }
    #Buttons button:last-child{
        width: 90%;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 780px) and (min-width: 500px){
    #Buttons{
        display: block;
    }
    #Buttons input{
        width: 95%;
        margin: 20px 0 0 0;
    }
    #Buttons button:first-child{
        width: 95%;
        margin: 20px 0 0 0;
    }
    #Buttons button:last-child{
        width: 95%;
        margin: 20px 0 0 0;
    }
}


/* Footer */

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 1, 72);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#footer div:first-child{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}
#footer div:last-child{
    color: white;
    font-size: 25px;
    margin-top: 25px;
}
#footer div:last-child i{
    margin-left: 20px;
}
